.card {
  background: #666e92;
  color: #ddd;
  font-size: 0.8rem;
  width: 70rem;
  height: 30rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
